<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>twitter_api_key</key>
	<string>C48qRGonKCVioEQJM6tZ9mjGC</string>
	<key>twitter_api_secret</key>
	<string>FJHzwCIFWtdSK9Rvb4ZH3O4aGJVCWOoaGe33lwHf4plsW9A3NE</string>
</dict>
</plist>
